.bundle/
log/*.log
pkg/
/tmp/
spec/examples.txt
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/db/*.sqlite3-shm
spec/dummy/db/*.sqlite3-wal
spec/dummy/log/*.log
spec/dummy/tmp/
gemfiles/*.lock
